{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block navbar %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="container">




      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="/static/img/drone.jpg" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Blog Post #1</h2>
            <h4 class="text-shadow text-white">Oct 1, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Here's an interesting something about setting up solar bids. It's also a way to inform about our platform and how it works...and how easy it is!</p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="/static/img/measurements.png" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Blog Post #2</h2>
            <h4 class="text-shadow text-white">Nov 1, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block"> More cool things to learn about our product - such as features that take you out of the inferno...and into paradise! </p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="/static/img/house.png" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Blog Post #3</h2>
            <h4 class="text-shadow text-white">Nov 15, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block"> Did you know that our product is incredibly cost-effective? Oh, you didn't? Well let me explain exactly how much money, time and headache medication we can save you </p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="/static/img/discussion.jpg" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Blog Post #4</h2>
            <h4 class="text-shadow text-white">Dec 1, 2017</h4>
            <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block"> Here's experience from a real customer, a real project we've been working with...don't listen to me anymore - listen our former clients speak for themselves. </p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="bg-faded p-4 my-4">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /.container -->

    {% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
